{% extends "ui/layouts/base.html" %}
{% load cms_tags fb_versions %}

{% block title_outer %}Example | Zparkl{% endblock %}

{% block content_full_width %}
	<div id="post-container" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<a href="{% url 'home'%}" class="zparkl-logo">&nbsp;</a>
				<p>{% placeholder "intro" %}</p>
				<div class="download-container">
					<a href="{{MEDIA_URL}}scripts/clone_project.sh" class="btn btn-primary">
						<i class="fa fa-download"></i> Download clone_project.sh
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div class="post-container">
					<div class="post-image-container">
						<img class="post-image" src="{% version post.image 'post-image' %}" alt="{{post.title}}" />
						<div class="post-title start-closed">{{post.title}}</div>
						<div class="post-image-grid"></div>
						<a href="#like" class="post-likes start-closed">
							<div class="image"><i class="fa fa-heart fa-2x"></i></div>
							<div class="value">{{post.total_likes}}</div>
						</a>
					</div>
					<div class="post-text">
						{{post.text|linebreaksbr}}
					</div>

					<!-- div class="post-subtitle">Author</div>
					<div class="post-author-container">
						<div class="post-author-image">
							
						</div>
					</div -->
					
					<div class="post-subtitle">Comments</div>
					<div class="post-comments-container">
						<div class="post-comments">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% csrf_token %}
{% endblock %}

{% block extra_js %}
<script src="{{STATIC_URL}}js/lib/jquery.autosize.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.zparkl.post.js"></script>
<script>
	$(window).ready(function(){
		$('.post-container').zparklpost({
			'POST_COMMENT_URL': '{% url "post_new_comment" post.id %}',
			'comments': {{post.get_comments|safe}}
		});
	});
</script>
{% endblock %}
