{% extends "ui/layouts/base.html" %}

{% block title %}Home{% endblock %}
{% block page_title_outer %}{% endblock %}

{% block content_full_width %}
	<div class="hero-unit">
		<div class="row">
			<div class="span5">
	            <img src="http://placehold.it/470x220" alt="">
			</div>
			<div class="span5">
		 		<h2>projectname</h2>
		 		<p>
		 		   Nullam id dolor justo. Praesent nec ipsum augue. 
		 		   Pellentesque tellus sem, consectetur non tempus sed. 
		 		</p>
			</div>
		</div>
	</div>
	<ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x140" alt="">
            <div class="caption">
              <h5>Paradise or oblivion</h5>
              <p style="height: 52px;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
              <p><a href="#">More info &raquo;</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x140" alt="">
            <div class="caption">
              <h5>SO Film Festival</h5>
              <p style="height: 52px;">Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#">More info &raquo;</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x140" alt="">
            <div class="caption">
              <h5>Alvalaxia XXI</h5>
              <p style="height: 52px;">Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
              <p><a href="#">More info &raquo;</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x140" alt="">
            <div class="caption">
              <h5>News</h5>
              <p style="height: 52px;">Facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Egestas eget quam.</p>
              <p><a href="#">View all news &raquo;</a></p>
            </div>
          </div>
        </li>
      </ul>
{% endblock %}
